<style>
    .main-sidebar{
        display: flex;
        flex-direction: column;
        padding:20px;
        height:100%;
    }

    .main-sidenav-content{
        display: flex;
        height: 100%;
    }

    mat-drawer{
        width:250px;
    }

    mat-drawer-container{
        height:100%;
    }
</style>

<jhi-page-ribbon></jhi-page-ribbon>

<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<!--<mat-drawer-container autosize style="position: absolute; right: 0px; left: 0px; bottom: 0px;">
    <mat-drawer class="main-sidebar" mode="side" opened style="background-color: white;">
        <p>Sidenav Menu</p>
    </mat-drawer>
    <mat-drawer-content >
        <div class="container-fluid min-h-100">
            <div class="card jh-card">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>-->

<div class="container-fluid min-h-100">
    <div class="card jh-card">
        <router-outlet></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>
